# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
 <ol>
     
     1- Java
     
     2- Scala
     
     3- Julia
     
     4- Pyhton
     
     5- SQL
     
     6- R
     
     7- JS
 </ol>

|Data Science Tools|
|------------------|
|vs code           |
|Apache Spark      |
|Jupyter Notebook  |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
#as in 1 hour we count 60 min, if we have to convert 200 min into hours, we just have to divide the 200 min by 60 whihch give 3 h 33 min 
a = 200
b = a / 60
b

3.3333333333333335

**objectives :**
* Java
* Julia
* Python
* R
* C/C++

## Author
Kotchi-ami Aubin Elegberou